table,th{

                border: 1px solid #dee2e6;
                font-weight: 700;
                font-size: 14px;
 }   


table,td{

                border: 1px solid #dee2e6;
 }  

 th,td{
    border: 1px solid #dee2e6;
 }
  
table {
        border: 1px solid #dee2e6;
        color: #ffff;
        margin-bottom: 100px;
        border: 2px solid black;
        background-color: white;
        text-align: center;
        width: 100%;
        height: 600px;
        display: block;
        overflow-y:auto;
}
.paytop{
text-align: left;
}

.btn-save{
background-color: #b52020;
border-color: #b52020;
color: #ffff;

}
.btn-save:hover{
/*opacity: 0.5;*/
background-color: #b71e1e;
}
.mbot{
    font-weight: bolder;
    font-size: 17px;
    margin-top: -50px;
}

.mleft{
    margin-left: 50px;
}

#myInput {
  background-image: url('../img/searchicon.png');
  background-size: 30px;
  background-position: 5px 5px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;  
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}
.mbt {
    background-color: #faf9f9;
    padding: 30px;
    border-radius: 0.25rem;
}

.pad{
    padding: 5px 5px 5px 5px;
    font-weight: bolder;
}